/discovery-server/target/
/discovery-server/discovery-server.iml
/movie-info-service/target/
/movie-info-service/movie-info-service.iml
/.idea/
/ratings-data-service/ratings-data-service.iml
/ratings-data-service/target/
/movie-catalog-service/.idea/
/movie-catalog-service/target/
/movie-catalog-service/movie-catalog-service.iml
